[user]
	name = Rett Berg
	email = rett@google.com
[core]
	editor = vim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:"%h%x20%an%x09%ad%x7C%d%s" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
	d = difftool
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[color]
	ui = auto
