! NOTE: play with fonts using something like urxvt -fn "xft:Inconsolata\ Nerd\ Font:style=Medium"
! urxvt*font: xft:inconsolata:size=13,xft:Terminus,xft:Inconsolata\ for\ Powerline,-*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
urxvt*font: xft:Inconsolata\ Nerd\ Font:style=Medium:size=13


URxvt*loginShell: false
URxvt.letterSpace: 0
URxvt*background: black
URxvt*foreground: grey
URxvt*color4: CornflowerBlue
URxvt*color12: pink

! This is one way to remove the ctrl+i == TAB feature, however it has to be integrated
! with vim (which somehow escapes it)
! URxvt.keysym.C-i: \033[33~

URxvt.perl-ext-common: default,clipboard,keyboard-select

! copy paste
URxvt.iso14755: false
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
!! mac like copy/paste with Alt
URxvt.keysym.M-c:     perl:clipboard:copy
URxvt.keysym.M-v:     perl:clipboard:paste
! standard termial copy/paste
URxvt.keysym.S-C-C:   perl:clipboard:copy
URxvt.keysym.S-C-V:   perl:clipboard:paste

! Text selection (visual mode)
URxvt.keysym.M-S-V: perl:keyboard-select:activate

! launch urls quickly
!URxvt.perl-ext-common:      default.clipborad.url-select.keyboard-select
!URxvt.url-select.launcher:  firefox
!URxvt.url-select.underline: true


