URxvt.font: xft:DejaVu Sans Mono:size=11
URxvt*loginShell: false
URxvt.letterSpace: 0
URxvt*background: black
URxvt*foreground: white
URxvt*color12: blue50

! copy paste
URxvt.perl-ext-common: default,clipboard
URxvt.iso14755: false
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

! launch urls
!URxvt.perl-ext-common:      default.clipborad.url-select.keyboard-select
!URxvt.url-select.launcher:  firefox
!URxvt.url-select.underline: true


