URxvt.font: xft:inconsolata:size=13,-*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
!URxvt.font: xft:inconsolata:size=13,xft:symbola:size=13
URxvt*loginShell: false
URxvt.letterSpace: 0
URxvt*background: black
URxvt*foreground: grey
URxvt*color12: blue50

URxvt.perl-ext-common: default,clipboard,keyboard-select

! copy paste
URxvt.iso14755: false
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
!! vimlike copy/paste with Alt
URxvt.keysym.M-y:     perl:clipboard:copy
URxvt.keysym.M-p:     perl:clipboard:paste
! standard termial copy/paste
URxvt.keysym.S-C-c:   perl:clipboard:copy
URxvt.keysym.S-C-v:   perl:clipboard:paste

! Text selection (visual mode)
URxvt.keysym.M-v: perl:keyboard-select:activate

! launch urls quickly
!URxvt.perl-ext-common:      default.clipborad.url-select.keyboard-select
!URxvt.url-select.launcher:  firefox
!URxvt.url-select.underline: true


